<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>NFeRetorno</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>RetornoServlet</display-name>
		<servlet-name>RetornoServlet</servlet-name>
		<servlet-class>br.com.bv.nfe.servlet.RetornoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetornoServlet</servlet-name>
		<url-pattern>/retornoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QuartzServlet</display-name>
		<servlet-name>QuartzServlet</servlet-name>
		<servlet-class>br.com.bv.nfe.servlet.QuartzServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuartzServlet</servlet-name>
		<url-pattern>/quartzServlet</url-pattern>
	</servlet-mapping>
</web-app>