<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>		
		<Property name="log-path">c:/Java/logs/</Property>		
	</Properties>
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
		
		<!-- Log de entrada -->
		
		<RollingFile name="trace-log-entrada" fileName="${log-path}/ret-trace-entrada.log"
			filePattern="${log-path}/ret-trace-entrada-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="error-log-entrada" fileName="${log-path}/ret-error-entrada.log"
			filePattern="${log-path}/ret-error-entrada-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>		
		<Logger name="br.com.bv.nfe.controle.RetornoEntradaControle" level="debug"
			additivity="false">
			<appender-ref ref="trace-log-entrada" level="debug" />
			<appender-ref ref="error-log-entrada" level="error" />							
		</Logger>
		
		<Root level="info" additivity="false">
			<AppenderRef ref="console-log" />
		</Root>
		 
	</Loggers>
</Configuration>